body
{
  font-family: Arial, "Times New Roman", sans-serif;
  font-size: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image
{
  margin: auto;
  width: 100%;
  height: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-family: 'Comic sans MS', Arial, "Times New Roman", sans-serif;
    font-size: 0.8em;
}

nav li {
    margin-left: 15px;
}

nav a {
    font-size: 1.3em;
    color: black;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    border-bottom: 3px solid cyan;
}

h2 {
  font-family: 'AR Destine', Stencil, Impact, 'Arial Black', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
}

section {
  display: flex;
  flex-direction: column;
}

table {
  position: relative;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin: auto;
}

td, th {
  width: 33%;
}

.photo
{
  margin: auto;
  width: 10%;
  height: 10%;
}

footer {
  background-color: black;
  color: white;
}

#cont_foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo
{
  margin: auto;
  width: 20%;
  height: 20%;
}


/* for screen lower than 1024px */

@media all and (max-width: 1024px)
{
    nav
    {
      width: auto;
      text-align: right;
    }
    
    nav ul
    {
      flex-direction: column;
    }

    nav li
    {
      padding-right: 4px;
    }
    
    nav a
    {
      font-size: 1em;
    }
    
    nav a:hover
    {
      border-bottom: 0;
    }

}